Link{
    text-decoration: none;
}

.findcar-container{
    display: flex;
    flex-direction: column;
}

.findcar-container h2{
    text-align: center;
    font-size: 40px;
}

.search-container{
    position: relative;
    left:10%;
    margin:50px;
    display: flex;
    flex-wrap: wrap;
}

.search-container input{

    width: 80%;
    height: 25px;
    border: 1px solid;
}

.search-container button{
    height: 29px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(216, 185, 7);
    font-weight: bold;
}

.search-container button:hover{
    background-color: rgb(185, 189, 189);
    color: aliceblue;
}

.car-card-item img{
    width: inherit;
    height: 250px;
    box-shadow: 0px 0px 3px;
    
}

.car-card-container{

    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: 200px;
}

.car-card-item{
    box-shadow: 0px 0px 5px;
    width: 300px;
    margin: 10px;
}

.car-card-item h3{
    margin: 5px;
}

.car-card-item p{
    display: block;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

.car-card-item:hover{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: black;
}

@media screen and (min-width:0px) and (max-width:1000px) {

    .car-card-container{
        display: flex;
        flex-direction: column;
    }
}
