.home-container{
    display:flex;
    flex-direction: column;

}

.home-title h1{
    font-size: 30px;
    background-color: black;
    color: rgb(243, 242, 242);
    box-shadow: 0px 3px 5px black;
    padding: 10px;
    width: fit-content;
    
}


.home-title div{
    color: gold;
    margin-left: 10px;
    display: inline-block;
    
}

.home-title{
    margin: 50px;
    box-shadow: 0px 0px 10px;
    padding:10px;
    width: 900px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home-title p{

    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}

.home-container h1:after{
    content: "______________________________";
}

.home-intro{
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px;
    border-radius: 10px;
    margin: 0px;
    margin-top:  50px;
    
}

.home-intro-item{
    box-shadow: 0px 0px 3px;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

.home-intro-item li{

    margin: 10px;
    font-weight: bold;
    color: blue;
}

.home-intro-item p{
    margin: 10px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.home-intro-item button{
    display: block;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    color: rgb(254, 255, 255);
    font-weight: bold;
}

.home-intro-item button:hover{
    background-color: rgb(185, 189, 189);
    color: aliceblue;
}

.nav-findcar{
    text-decoration: none;
}




